div #container{
  width: 700px;
  margin: 64px auto;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  padding: 64px 80px;


}

h1{
    color: #00C7C7;
}

p{
    color: rgb(199, 198, 198);
    font-weight: 100;

}

input {
    margin-top:50px;
    width: 100%;
    height: 64px;
  
    background: #F5F8FA;
    border: 1px solid #96D2F0;
    border-radius: 5px;
  
    display: flex;
    justify-content: center;
    align-items: center;

}

::placeholder{
    text-align: center;
}

button{
  margin-top: 15px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;

}

button:hover{
    background: #36CF82;
}

ul{
    margin-top:20px; 
}
li{
    margin-top:10px;
    color: gray;
}